* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.dashboard {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

.table-container {
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }
    table {
        width: 5px;
    }
}